{% extends 'base.html.twig' %}

{% block title %}Welcome to Creeptee{% endblock %}

{% block content %}
            <main>
                <div class="overlay">
                                <div class="hero-home">
                    <div class="title">
                    <h1>Play basics games, make bigger gains</h1>
                    <p>Jouez et remportez de vrais gains, pas ceux qui font les mythos !</p>
                    </div>
                    <img src="{{ asset('src/icon/gaming-icon.gif') }}" alt="presentation">
                </div>
                </div>
                <div class="feature-home">

                    <h1>Génerez des revenues en jouant à des jeux simples,
                    augmenter vos gains avec des équipements à collectionner
                    et devenez le meilleur parmis le classement mondial établi !</h1>

                    <img src="{{ asset('src/icon/feature-icon.gif') }}" alt="presentation">
                </div>
                <div class="feature2-home">

                    <img src="{{ asset('src/icon/feature-icon.gif') }}" alt="presentation">

                    <h1>Génerez des revenues en jouant à des jeux simples,
                    augmenter vos gains avec des équipements à collectionner
                    et devenez le meilleur parmis le classement mondial établi !</h1>
                </div>
                <div class="feature-home">

                    <h1>Génerez des revenues en jouant à des jeux simples,
                    augmenter vos gains avec des équipements à collectionner
                    et devenez le meilleur parmis le classement mondial établi !</h1>

                    <img src="{{ asset('src/icon/feature-icon.gif') }}" alt="presentation">
                </div>
                <div class="feature4-home">
                    <div class="testimonial-card">
                        <img src="{{ asset('src/icon/feature-icon.gif') }}" alt="presentation">
                        <h1>John Doe</h1>💬
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                </div>
{% endblock %}