{% extends 'base.html.twig' %}

{% block title %}Welcome to Creeptee{% endblock %}

{% block content %}
        <div class="overlay">
            <div class="hero-home">
                <div class="title">
                    <h1 data-scroll data-scroll-speed="6" data-scroll-direction="horizontal" class="appear">Play basics games, make bigger gains</h1>
                    <p data-scroll data-scroll-speed="-20" data-scroll-direction="horizontal" class="hero-subtitle appear">Jouez et remportez de vrais gains, pas ceux qui font les mythos !</p>
                </div>
                <img data-scroll data-scroll-speed="12" data-scroll-direction="vertical" src="{{ asset('src/icon/gaming-icon.gif') }}" alt="presentation">
            </div>
        </div>
        <div class="feature-home">
            <h1>Génerez des revenues en jouant à des jeux simples,
            augmenter vos gains avec des équipements à collectionner
            et devenez le meilleur parmis le classement mondial établi !</h1>
            <img src="{{ asset('src/icon/feature-icon.gif') }}" alt="presentation">
        </div>
        <div class="feature2-home">
            <img data-scroll data-scroll-speed="2" data-scroll-direction="horizontal" src="{{ asset('src/icon/buddy-icon.gif') }}" alt="presentation">
            <h1 data-scroll data-scroll-speed="2" data-scroll-direction="horizontal">Mesurez vous au reste des joueurs et partagez techniques et avis sur notre forum</h1>
        </div>
        <div class="feature4-home">
            <div data-scroll data-scroll-speed="6" data-scroll-direction="horizontal" class="testimonial-card">
                <img src="{{ asset('src/icon/testi1.gif') }}" alt="presentation">
                <h1>John Doe</h1>
                <div><span>💬</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
            <div data-scroll data-scroll-speed="6" data-scroll-direction="vertical" class="testimonial-card">
                <img src="{{ asset('src/icon/testi2.gif') }}" alt="presentation">
                <h1>John Doe</h1>
                <div><span>💬</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
            <div data-scroll data-scroll-speed="-6" data-scroll-direction="horizontal" class="testimonial-card">
                <img src="{{ asset('src/icon/testi3.gif') }}" alt="presentation">
                <h1>John Doe</h1>
                <div><span>💬</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
        </div>
{% endblock %}