<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Creeptee</title>
        <link rel='stylesheet' href=" {{ asset('styles/main.css') }}">
        <link rel='stylesheet' href=" {{ asset('styles/form.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        <header>
            <div class="account-block">
                <a href="{{ path('login') }} "><button>Connexion</button></a>
                <a href="{{ path('register') }} "><button>Inscription</button></a>
            </div>
            <h1>Creeptee</h1>
            <nav class="nav-block">
                <ul class="nav-ul">
                    <li><a href="{{ path('home') }} ">Accueil</a></li>
                    <li>Jeux</li>
                    <li>Contact</li>
                </ul>
            </nav>

        </header>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>Powered by Noidkoko</p>
        </footer>
    </body>
</html>
