<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Creeptee</title>
        <link rel='stylesheet' href=" {{ asset('styles/main.css') }}">
        <link rel='stylesheet' href=" {{ asset('styles/queries.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        <header>
            {% if app.user %}
            <div class="account-buttons"><a href="{{ path('logout') }} "><button>Deconnexion</button></a></div>
            <div class="user-info">
                <a href="{{ path('account') }}" ><img src="" alt="pp"><h1>{{ app.user.username }}</h1></a>
            </div>
            {% else %}
            <div class="account-buttons">
                <a href="{{ path('login') }} "><button>Connexion</button></a>
                <a href="{{ path('register') }} "><button>Inscription</button></a>
            </div>
            <h1>Creeptee</h1>
            {% endif %}
            <nav class="nav-block">
                <ul class="nav-ul">
                    <li><a href="{{ path('home') }} ">Accueil</a></li>
                    <li>Jeux</li>
                    <li>Contact</li>
                </ul>
            </nav>

        </header>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="footer-container">
                <h2>Creeptee Ⓒ Noidkoko</h2>
            </div>
            <div class="footer-container">
                <ul>
                    <li>Mentions légales</li>
                    <li>Forum</li>
                    <li>Contact</li>
                </ul>
            </div>

        </footer>
    </body>
</html>
